---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import AboutMe from "../components/AboutMe.astro"

const title = "Porfolio de Daniel Milenov - Desarrollador y Programador Web"
const description = "Contrata a Daniel Milenov para tener un activo versatil en tu equipo."
const lang = "es"
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <meta name="description" content={description} />
	</head>
	<body>
		<Layout
			title={title}
			description={description}
			lang={lang}
		>
			<Hero lang={lang}/>
			<Experience lang={lang}/>
			<Projects lang={lang}/>
			<AboutMe lang={lang}/>
		</Layout>
	</body>
</html>