---
import PersonIcon from "./icons/PersonIcon.astro";

import {Image} from "astro:assets";
import MePic from "./../images/me.webp"

const { lang } = Astro.props

// Texts
import { aboutme } from "../data.json";

const title = aboutme[lang].title;
const p1 = aboutme[lang].p1;
const p2 = aboutme[lang].p2;
const p3 = aboutme[lang].p3;
const l1 = aboutme[lang].l1;
const l2 = aboutme[lang].l2;
const l3 = aboutme[lang].l3;
---
<div id="about-me" data-section="about-me" class="h-full flex justify-center w-full md:mb-16 mb-8">
    <div class="h-full w-[64rem] p-4">
        <div class="inline-flex flex-row items-center w-52 mb-8">
            <PersonIcon class="size-10 mr-2"/>
            <h2 class="text-2xl">{title}</h2>
        </div>
        <div class="flex justify-around md:flex-row flex-col-reverse items-center">
            <div class="max-w-[70ch] md:mr-16">
                <Fragment set:html={p1} />
                <Fragment set:html={p2} />
                <Fragment set:html={p3} />
                <ul class="ml-2 [&>li]:before:content-['-'] [&>li]:before:mr-2">
                    <Fragment set:html={l1} />
                    <Fragment set:html={l2} />
                    <Fragment set:html={l3} />
                </ul>
            </div>
            <Image alt="profile" src={MePic} class="object-contain md:w-72 w-48 rounded-lg mb-8" />
        </div>
    </div>
</div>
