---
import { Image } from "astro:assets"

import ProfilePic from "/src/images/photo.webp";

const { lang } = Astro.props;

import { authorpost } from "../data.json";

const { at, updated } = authorpost[lang];

const { pubDate, updDate } = Astro.props
---
<div class="w-fit flex flex-row gap-1 sm:gap-2 text-xs sm:text-xl mb-4 justify-between items-center">
    <a href="/" target="_blank" class="flex gap-2 items-center underline decoration-transparent underline-offset-4 transition-colors duration-200 hover:decoration-yellow-500">
        <Image src={ProfilePic} alt="profile" class="size-4 sm:size-8 rounded-full"/>
        <h2>Nullgaro</h2>
    </a>
    <p> {at} </p>
    <date>{pubDate}</date>
    {
        updDate && (
            <p> {updated} </p>
            <date>{updDate}</date>
        )
    }
</div>