---
// import { Image } from "astro:assets"
import type { ImageMetadata } from 'astro';

const { url, title, description, pubDate, updDate, image, tags} = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>('/public/')
// if (!images[image]) throw new Error(`"${image}" does not exist in glob: "/public"`);
---
<li class="mb-16">
    <a href={url} class="flex flex-col md:flex-row md:items-center gap-4 p-4 transition-all duration-200 border-l-4 border-l-transparent hover:border-l-yellow-300 hover:brightness-75">
        <img src={image} alt="" class="object-contain w-full md:w-56 rounded-lg">
        <div>
            <h1 class="mb-4 text-3xl">{title}</h1>
            <h2 class="mb-2">{description}</h2>
            <div class="mb-2 flex flex-col md:flex-row gap-2">
                <div class="flex gap-2">
                    <p>Published at</p>
                    <date>{pubDate}</date>
                </div>
                {
                    updDate && (
                        <div class="flex gap-2">
                            <p class="hidden md:block">-</p>
                            <p class="capitalize md:lowercase">last update</p>
                            <date>{updDate}</date>
                        </div>
                    )
                }
            </div>
        </div>
    </a>
</li>