---
const { title, imgPath, link, github, description, technologies } = Astro.props

import ProjectLink from "./ProjectLink.astro";

import LinkIcon from "./icons/LinkIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import GithubActionsIcon from "./icons/GithubActionsIcon.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import SeleniumIcon from "./icons/SeleniumIcon.astro";
import SnapcraftIcon from "./icons/SnapcraftIcon.astro";
import SQLIcon from "./icons/SQLIcon.astro";
import SQLiteIcon from "./icons/SQLiteIcon.astro";
import ArchIcon from "./icons/ArchIcon.astro";
import DebianIcon from "./icons/DebianIcon.astro";

const iconComponents = {
    GithubActionsIcon,
    PythonIcon,
    SeleniumIcon,
    SnapcraftIcon,
    SQLIcon,
    SQLiteIcon,
    ArchIcon,
    DebianIcon
};

import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.webp')
if (!images[imgPath]) throw new Error(`"${imgPath}" does not exist in glob: "src/images/*.webp"`);
---
<div class="h-full flex w-full mb-20">
    <div class="h-full w-[64rem] flex justify-around">
        <Image src={images[imgPath]()} alt={title} class="object-contain h-64 w-6/12 bg-slate-800 rounded-xl" />
        <div class="h-64 w-5/12 flex flex-col justify-between">
            <div>
                <h3 class="text-xl font-black mb-4">{ title }</h3>
                <ul class="flex flex-wrap mb-4">
                    { technologies.map(({icon, name, styles}) => {
                    const IconComponent = iconComponents[icon];
                    return (
                    <li class={`text-md mr-2 mb-2 border-0 rounded-2xl py-1 px-2 flex ${styles}`}>
                        <IconComponent class="size-6 mr-2"/>
                        {name}
                    </li>
                    )
                    })}
                </ul>
                <p class="text-md max-w-[70ch] font-extralight">{ description }</p>
            </div>
            <div class="mb-2">
                <ProjectLink href={ github }>
                    <GithubIcon class="size-6 mr-2" />
                    Code
                </ProjectLink>

                {
                    link &&
                    <ProjectLink href={ link }>
                        <LinkIcon class="size-6 mr-2" />
                        Preview
                    </ProjectLink>
                }
            </div>
        </div>
    </div>
</div>