---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
    title: string
    description: string
    lang: string
}

const { description, title, lang } = Astro.props
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>

    <body class="relative text-black bg-slate-100 dark:text-white dark:bg-slate-900">
        <Header lang={lang}/>
        <slot />
        <Footer lang={lang}/>
        <style is:global>
            @font-face {
                font-family: 'montserrat';
                src: url('/fonts/montserrat.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'blemo';
                src: url('/fonts/blemo.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }

            :root {
                color-scheme: light dark;
            }

            html {
                scroll-behavior: smooth;
            }

            body {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                overscroll-behavior: none;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: "blemo";
            }

            p, a , ul, ol, li {
                font-family: "montserrat";
            }
        </style>
    </body>
</html>
